.file-caption.icon-visible .file-caption-name {
  font-family: "Lato", sans-serif;
  color: #666;
}

.form-widget {
  position: relative;
}

#anak-same-as-ortu {
  position: absolute;
  top: 10px;
  left: auto;
  right: 0;
  z-index: 5;
}
